In [2]:
# Question No-1

In [4]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
df = pd.DataFrame(data)
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [8]:
# Question No-2

In [16]:
list1 = [1,2,3,4,5,6,7,8,9,10]
d = pd.Series(list1)
print(d)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
# Question No-3

In [14]:
d = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(d)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [15]:
# Question No-4

In [22]:
""" 
    1) DataFrame- The Pandas DataFrame is a two-dimensional data structure composed of columns and rows.
    2) The Pandas Series data structure is a one-dimensional labelled array while Pandas DataFrame is two-dimensional.
    3) Example- """
# Example- Pandas series which is one-dimensional while Dataframe which is two dimesional.

list1 = [1,2,3,4,5,6,7,8,9,10]
d = pd.Series(list1)
print("Example Pandas Series\n")
print(d)
d = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(d)
print("Example Pandas DataFrame\n")
print(df)

Example Pandas Series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Example Pandas DataFrame

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [23]:
# Question No-5

In [24]:
"""
    Some common functions you can use to manipulate data in a Pandas DataFrame are as follows:
    1) Read
    2) head
    3) info
    4) shape """
# We can use the head function to print first five rows of the dataset. We can also change the number by providing the required number as parameter.
df = pd.read_csv('services.csv')
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [26]:
# Question No-6

In [27]:
"""
    1) In Series values of data are mutable.
    2) In DataFrame size and data both are mutable.
    3) In Panel size and data both are mutable. """

'\n    1) In Series values of data are mutable.\n    2) In DataFrame size and data both are mutable.\n    3) In Panel size and data both are mutable. '

In [28]:
# Question No-7

In [41]:
# Here we will create DataFrame from multiple Series using concate function of Pandas.
list1 = [1,2,3,4,5,6,7,8,9,10]
d1 = pd.Series(list1)
list2 = [11,22,33,44,55,66,77,88,99,100]
d2 = pd.Series(list2)
df = pd.concat([d1,d2],axis=1)
print(df)

    0    1
0   1   11
1   2   22
2   3   33
3   4   44
4   5   55
5   6   66
6   7   77
7   8   88
8   9   99
9  10  100